---
layout: default
---

<article class="wrap home">
<div class="clearfix" id="main_frame">
<section class="contents articles" style="display: none;">
<h2 class="pagetitle"></h2>
<p class="txt text-right">最終更新時刻: 2023年03月31日</p>
</section>
<section class="search">
<div class="search_block">
<div class="form-inline row">
<div class="form-group col-md-9">
<input type="search" name="q" id="search_word" value="" class="txt_input" placeholder="登録されているデータをキーワードで検索します" />
</div>
<div class="form-group mr-2">
<label>種類</label>
<select class="form-control" id="search-type">
<option value="">--</option>
<option value="paper">論文</option>
<option value="patent">特許</option>
</select>
</div>
<!--
<div class="form-group">
<label>検索対象</label>
<select class="form-control" name="search-field">
<option value="">--</option>
<option value="title">タイトル</option>
<option value="authors">研究者名</option>
</select>
</div>
-->
<div class="form-group submit">
<input type="submit" name="commit" value="検索する" class="btn" data-disable-with="検索する" />
</div>
</div>
</div>
</section>
<section class="home area1 articles">
<div class="main_inner paper_list">
<h2 class="result-summary" style="display: none;"></h2>
<div class="row">
<div class="col-md-9">
<div class="list-panel paper">
<h2 class="title">新着論文
<span class="date">更新日： 2023年03月31日 </span>
</h2>
{% assign year = 0 -%}
{% assign SAMURAI_paper_sort = site.data.SAMURAI_paper | sort: "PublicationDate" | reverse -%}
{% for row in SAMURAI_paper_sort -%}
  {% assign row_PubYear = row.PublicationDate | slice: 0,4 -%}
  {% if year != row_PubYear -%}
    {% if forloop.first != true -%}
      </ul>
      </div>
    {% endif -%}
    <div class="filterBlock">
    <h3 class="year-subject" style="display: none;">{{row_PubYear}}</h3>
    <h4 class="data-type" style="display: none;">論文</h4>
    <ul class="list">
    {% assign year = row_PubYear -%}
  {% endif -%}
    <li data-rowno_paper="{{row.No}}" {% if forloop.index > 10 -%} style="display: none;{%- endif %}">
      {% if row.SamuraiLink -%}
        {% assign AuthorArray = row.Author | split: ","-%}
        {% assign LinkArray = row.SamuraiLink | split: ","-%}
        {% for name_Author in AuthorArray -%}
          {% assign linkFlag = false -%}
          {% for name_Link in LinkArray -%}
            {% if name_Link == name_Author -%}
              {% assign linkFlag = true -%}
              <a href="{{ LinkArray[forloop.index] }}" target="_blank">{{ name_Author }}</a>
            {% endif -%}
          {% endfor -%}
          {% if linkFlag != true -%}
            {{ name_Author }}
          {% endif -%}
          {% if forloop.last != true -%}
            ,
          {% endif -%}
        {% endfor -%}
      {% else -%}
        {{row.Author}}
      {% endif -%}
      . {{row.Title}}. {{row.PublicationMedia}}. {% raw -%}({% endraw -%}{{row_PubYear}}{% raw -%}){% endraw -%} - 
      {% if row.DOI | size > 0  -%}        
        <a href="https://doi.org/{{row.DOI}}" target="_blank">{{row.DOI}}</a>
      {% endif -%}
    </li>
{% endfor -%}
    </ul>
  </div> 
  <p class="past"><a href="paper">一覧でさらに表示する</a></p>
</div>
<div class="list-panel patent">
<h2 class="title">新着特許
<span class="date">更新日： 2023年03月31日 </span>
</h2>
{% assign year = 0 -%}
{% assign SAMURAI_patent_sort = site.data.SAMURAI_patent | sort: "FilingDate" | reverse -%}
{% for row in SAMURAI_patent_sort limit:10 -%}
  {% assign rowYear = row.FilingDate | slice: 0, 4 -%}
  {% if year != rowYear -%}
    {% if forloop.first != true -%}
      </ul>
      </div>
    {% endif -%}
    <div class="filterBlock">
    <h3 class="year-subject" style="display: none;">{{rowYear}}</h3>
    <h4 class="data-type" style="display: none;">特許</h4>
    <ul class="list">
    {% assign year = rowYear -%}
  {% endif -%}
      <li data-rowno_patent="{{row.No}}">
        {% if row.PublicationNo contains "特開" -%}
          <a href="https://patents.google.com/patent/JP{{row.PublicationNo | slice: 2,4}}{{row.PublicationNo | slice: 7,6}}" target="_blank">
        {% else -%}
          <a href="https://patents.google.com/patent/JP{{row.PublicationNo | slice: 0,6}}{{row.PublicationNo | slice: 7,6}}" target="_blank">
        {% endif -%}
        {{row.PublicationNo}}</a>&nbsp;
        {{row.Title}}&nbsp;
        {% if row.Link -%}
          {% assign InventorArray = row.Inventor | split: ","-%}
          {% assign LinkArray = row.Link | split: ","-%}
          {% for name_Inventor in InventorArray -%}
            {% assign linkFlag = false -%}
            {% for name_Link in LinkArray -%}
              {% if name_Link == name_Inventor -%}
                {% assign linkFlag = true -%}
                <a href="{{ LinkArray[forloop.index] }}" target="_blank">{{ name_Inventor }}</a>
              {% endif -%}
            {% endfor -%}
            {% if linkFlag != true -%}
              {{ name_Inventor }}
            {% endif -%}
            {% if forloop.last != true -%}
              ,
            {% endif -%}
          {% endfor -%}
          &nbsp;
        {% else -%}
          {{row.Inventor}}&nbsp;      
        {% endif -%}
      </li>
{% endfor -%}
    </ul>
  </div>
  <p class="past"><a href="patent">一覧でさらに表示する</a></p>
</div>
</div>
<div class="col-md-3">
<div class="list-panel unit-list">
<h2 class="title">研究グループ</h2>
<ul class="unit-links">
        <li><a href="https://www.nims.go.jp/research/functional-materials/" target="_blank"><img alt="機能性材料研究拠点" src="img/機能性材料研究拠点.jpg"><span class="unit-name">機能性材料研究拠点</span></a></li>
        <li><a href="https://www.nims.go.jp/research/energy-environment/" target="_blank"><img alt="エネルギー・環境材料研究拠点" src="img/エネルギー・環境材料研究拠点.jpg"><span class="unit-name">エネルギー・環境材料研究拠点</span></a></li>
        <li><a href="https://www.nims.go.jp/research/magnetic-spintronics/" target="_blank"><img alt="磁性・スピントロニクス材料研究拠点" src="img/磁性・スピントロニクス材料拠点.jpg"><span class="unit-name">磁性・スピントロニクス材料研究拠点</span></a></li>
        <li><a href="https://www.nims.go.jp/research/KO-ZO/" target="_blank"><img alt="構造材料研究拠点" src="img/構造材料研究拠点.jpg"><span class="unit-name">構造材料研究拠点</span></a></li>
        <li><a href="https://www.nims.go.jp/research/mana/" target="_blank"><img alt="国際ナノアーキテクトニクス研究拠点" src="img/国産ナノアーキテクトニクス研究拠点.jpg"><span class="unit-name">国際ナノアーキテクトニクス研究拠点</span></a></li>
        <li><a href="https://www.nims.go.jp/research/materials-analysis/" target="_blank"><img alt="先端材料解析研究拠点" src="img/先端材料解析研究拠点.jpg"><span class="unit-name">先端材料解析研究拠点</span></a></li>
        <li><a href="https://www.nims.go.jp/research/MaDIS/" target="_blank"><img alt="統合型材料開発・情報基盤部門" src="img/統合型材料開発・情報基盤部門.jpg"><span class="unit-name">統合型材料開発・情報基盤部門</span></a></li>
        <li><a href="https://www.nims.go.jp/research/network-facility-services/" target="_blank"><img alt="技術開発・共用部門" src="img/技術開発・共用部門.jpg"><span class="unit-name">技術開発・共用部門</span></a></li>
    </ul>
</div>
</div>
</div>
</div>
</section>
</div>
<div id="bnr_link">
<div class="clearfix">
</div>
</div>
</article>
<script>
  $(function () {
    const documents_paper = [
      {% assign SAMURAI_paper_sort = site.data.SAMURAI_paper | sort: "FilingDate" | reverse -%}
      {% for row in SAMURAI_paper_sort -%}
      { 'No': '{{ row.No }}', 'Title': '{{ row.Title | escape }}', 'Name': '{{ row.Author | escape }}' },
      {% endfor -%}
    ];

    const documents_patent = [
      {% assign SAMURAI_patent_sort = site.data.SAMURAI_patent | sort: "FilingDate" | reverse -%}
      {% for row in SAMURAI_patent_sort -%}
      { 'No': '{{ row.No }}', 'Title': '{{ row.Title | escape }}', 'Name': '{{ row.Inventor | escape }}' },
      {% endfor -%}
    ];

    require(['assets/js/lunr-languages/test/lunr/lunr-0.7.0.min.js', 'assets/js/lunr-languages/lunr.stemmer.support.js', 'assets/js/lunr-languages/tinyseg.js', 'assets/js/lunr-languages/lunr.ja.js'], function (lunr, stemmerSupport, TinySegmenter, ja) {
      // since the `stemmerSupport` and `ja` add keys on the lunr object, we'll pass it as reference to them
      // in the end, we will only need `lunr`.
      stemmerSupport(lunr); // adds `lunr.stemmerSupport`
      TinySegmenter(lunr);
      ja(lunr); // adds `lunr.ja` key
      // at this point, `lunr` can be used
      idx_paper = lunr(function () {
        // use the language (ja)
        this.use(lunr.ja);
        this.tokenizer = function (str) {
            return [str];
        };
        // then, the normal lunr index initialization
        this.ref('No')
        this.field('Title')
        this.field('Name')
        /* add documents to index */
        documents_paper.forEach(function (doc) {
          this.add(doc);
        }, this);
      });

      idx_patent = lunr(function () {
        // use the language (ja)
        this.use(lunr.ja);
        this.tokenizer = function (str) {
            return [str];
        };
        // then, the normal lunr index initialization
        this.ref('No')
        this.field('Title')
        this.field('Name')
        /* add documents to index */
        documents_patent.forEach(function (doc) {
          this.add(doc);
        }, this);
      });
    });

    function search_paper(word_paper){   
      const results_paper = idx_paper.search(word_paper, function (query) {
        return [query.term];
      });
      results_paper.forEach(function (row) {
        $("[data-rowno_paper=" + row["ref"] + "]").show();
        $("[data-rowno_paper=" + row["ref"] + "]").parent().siblings('h3.year-subject').show();
        $("[data-rowno_paper=" + row["ref"] + "]").parent().siblings('h4.data-type').show();
        $("[data-rowno_paper=" + row["ref"] + "]").parents(":hidden").show();
      });
      return results_paper.length;
    };

    function search_patent(word_patent){
      const results_patent = idx_patent.search(word_patent, function (query) {
        return [query.term];
      });
      results_patent.forEach(function (row) {
        $("[data-rowno_patent=" + row["ref"] + "]").show();
        $("[data-rowno_patent=" + row["ref"] + "]").parent().siblings('h3.year-subject').show();
        $("[data-rowno_patent=" + row["ref"] + "]").parent().siblings('h4.data-type').show();
        $("[data-rowno_patent=" + row["ref"] + "]").parents(":hidden").show();
      });
      return results_patent.length;
    };
       
    $(".btn").on('click', function() {
      $('h2.title').hide();
      $('p.past').hide();
      $('div.col-md-3').hide();
      $('h3.year-subject').hide();
      $('h4.data-type').hide();
      $('div.main_inner div.row div.col-md-9').css('max-width','100%');
      $('div.main_inner').css('width','auto');
      $('div.main_inner div.row').css('display','block');
      $('.wrap .area1').css('background','white');
      $('#main_frame').addClass('main_frame');
      $('div.main_frame section.contents').css('display','block');
      $("div.filterBlock").hide();
      $("ul.list li").hide();
      $('section.search').css('padding','0 0 25px 0');
      $('section.home').css('padding', '0');
      $('div.search_block').css('width', 'auto');
      $('div.search_block').css('width', 'auto');
      $('h2.result-summary').show();
     
      const search_word = $('#search_word').val();

      switch($('#search-type').val()){
        case "":
          $('h2.pagetitle').text('論文・特許の一覧');
          var paper_length = search_paper(search_word);
          var patent_length = search_patent(search_word);
          $('h2.result-summary').text(paper_length + patent_length + "件の論文・特許が見つかりました。 論文・特許は論文は出版年月日、特許は出願年月日順に表示しています。");
          break;
        case "paper":
          $('h2.pagetitle').text('論文の一覧');
          var paper_length = search_paper(search_word);
          $('h2.result-summary').text(paper_length + "件の論文が見つかりました。 論文は出版年月日順に表示しています。");
          $('h4.data-type').hide();
          break;
        case "patent":
          $('h2.pagetitle').text('特許の一覧');
          var patent_length = search_patent(search_word);
          $('h2.result-summary').text(patent_length + "件の特許が見つかりました。 特許は出願年月日順に表示しています。");
          $('h4.data-type').hide();
          break;
      };
    });
  });       
</script>
