---
layout: default
---
{% assign year=0 %}
{% assign SAMURAI_patent_sort = site.data.SAMURAI_patent | sort: "FilingDate" | reverse %}

{% for row in SAMURAI_patent_sort %}
  {% assign rowYear = row.FilingDate | slice: 0, 4 %}
  {% if year != rowYear %}
    {% if forloop.first != true %}
      </ul>
    {% endif %}
    <h3 class="year-subject">{{rowYear}}</h3>
    <ul class="list">
    {% assign year = rowYear %}
  {% endif %}
      <li>
        {{row.PublicationNo}}&nbsp;
        {{row.Title}}&nbsp;
        {% if row.Link %}
        
          {% assign InventorArray = row.Inventor | split: ","%}
          {% assign LinkArray = row.Link | split: ","%}
          {% for name_Inventor in InventorArray %}
            {% for name_Link in LinkArray %}
              {% if name_Link == name_Inventor %}
                {% assign link_url = LinkArray | offset: forloop.index %}
                {{ link }}
              {% endif %}
            {% endfor %}
          {{name_Inventor}}
          {% if forloop.last != true %}
          ,
          {% endif %}
          {% endfor %}
          &nbsp;
        {% else %}
          {{row.Inventor}}&nbsp;      
        {% endif %}
      </li>
{% endfor %}
    </ul>
