---
layout: default
title: 論文の一覧
---
<article class="wrap search_prof search_article">
<div class="main_frame clearfix">
<section class="contents articles">
<h2 class="pagetitle">{{ page.title }}</h2>
<p class="txt text-right">最終更新時刻: 2023年03月31日</p>
<div class="paper_list">
<div id="search_keyword">
<div class="search_block row">
<input type="search" name="q" id="search_word" value="" class="col-md-10 txt_input txt_result" placeholder="">
<input type="submit" name="commit" value="検索する" class="btn" data-disable-with="検索する">
</div>
</div>
<h2 class="result-summary" style="display: none;"></h2>
{% assign year = 0 -%}
{% assign SAMURAI_paper_sort = site.data.SAMURAI_paper | sort: "PublicationDate" | reverse -%}
{% for row in SAMURAI_paper_sort -%}
{% assign row_PubYear = row.PublicationDate | slice: 0,4 -%}
{% if year != row_PubYear -%}
{% if forloop.first != true -%}
</ul>
</div>
{% endif -%}
<div class="filterBlock">
<h3 class="year-subject">{{row_PubYear}}</h3>
<ul class="list">
{% assign year = row_PubYear -%}
{% endif -%}
<li data-rowno="{{row.No}}">
{% if row.SamuraiLink -%}
  {% assign AuthorArray = row.Author | split: ","-%}
  {% assign LinkArray = row.SamuraiLink | split: ","-%}
  {% for name_Author in AuthorArray -%}
    {% assign linkFlag = false -%}
    {% for name_Link in LinkArray -%}
      {% if name_Link == name_Author -%}
        {% assign linkFlag = true -%}
        <a href="{{ LinkArray[forloop.index] }}" target="_blank">{{ name_Author }}</a>
      {% endif -%}
    {% endfor -%}
    {% if linkFlag != true -%}
      {{ name_Author }}
    {% endif -%}
    {% if forloop.last != true -%}
      ,
    {% endif -%}
  {% endfor -%}
{% else -%}
  {{row.Author}}
{% endif -%}
. {{row.Title}}. {{row.PublicationMedia}}. {% raw -%}({% endraw -%}{{row_PubYear}}{% raw -%}){% endraw -%} - 
{% if row.DOI | size > 0  -%}        
  <a href="https://doi.org/{{row.DOI}}" target="_blank">{{row.DOI}}</a>
{% endif -%}
</li>
{% endfor -%}
</ul>
</div>
</div>
</section>
</div>
<div id="bnr_link">
<div class="clearfix">
</div>
</div>
</article>
<script>
$(function () {
const documents = [
{% assign SAMURAI_paper_sort = site.data.SAMURAI_paper | sort: "FilingDate" | reverse -%}
{% for row in SAMURAI_paper_sort -%}
{ 'No': '{{ row.No }}', 'Title': '{{ row.Title | escape }}', 'Name': '{{ row.Author | escape }}' },
{% endfor -%}
];
{% include lunr.html %}
});
</script>
