---
layout: default
title: 特許の一覧
year: 2020
---
    <article class="wrap search_prof search_article">
      <div class="main_frame clearfix">
        <section class="contents articles">
          <h2 class="pagetitle">{{ page.title }}</h2>
          <div class="paper_list">
              
{% assign year = 0 %}
{% assign SAMURAI_paper_sort = site.data.SAMURAI_paper | sort: "PublicationDate" | reverse %}
{% for row in SAMURAI_paper_sort %}
    {{ row.PublicationDate | slice: 0,4 }}
    {% if page.year == row.PublicationDate | slice: 0,4 %}
    {{row.PublicationDate}}
  {% endif %}
{% endfor %}

          </div>
        </section>
      </div>
      <div id="bnr_link">
        <div class="clearfix">
        </div>
      </div>
    </article>
