---
layout: default
title: 特許の一覧
---
    <article class="wrap search_prof search_article">
      <div class="main_frame clearfix">
        <section class="contents articles">
          <h2 class="pagetitle">{{ page.title }}</h2>
          <div class="paper_list">
{% assign year = 0 -%}
{% assign SAMURAI_patent_sort = site.data.SAMURAI_patent | sort: "FilingDate" | reverse -%}
{% for row in SAMURAI_patent_sort -%}
  {% assign rowYear = row.FilingDate | slice: 0, 4 -%}
  {% if year != rowYear -%}
    {% if forloop.first != true -%}
      </ul>
    {% endif -%}
    <h3 class="year-subject">{{rowYear}}</h3>
    <ul class="list">
    {% assign year = rowYear -%}
  {% endif -%}
      <li>
        {% if row.PublicationNo contains "特開" -%}
          <a href="https://patents.google.com/patent/JP{{row.PublicationNo | slice: 2,4}}{{row.PublicationNo | slice: 7,6}}" target="_blank">
        {% else -%}
          <a href="https://patents.google.com/patent/JP{{row.PublicationNo | slice: 0,6}}{{row.PublicationNo | slice: 7,6}}" target="_blank">
        {% endif -%}
        {{row.PublicationNo}}</a>&nbsp;
        {{row.Title}}&nbsp;
        {% if row.Link -%}
          {% assign InventorArray = row.Inventor | split: ","-%}
          {% assign LinkArray = row.Link | split: ","-%}
          {% for name_Inventor in InventorArray -%}
            {% assign linkFlag = false -%}
            {% for name_Link in LinkArray -%}
              {% if name_Link == name_Inventor -%}
                {% assign linkFlag = true -%}
                <a href="{{ LinkArray[forloop.index] }}" target="_blank">{{ name_Inventor }}</a>
              {% endif -%}
            {% endfor -%}
            {% if linkFlag != true -%}
              {{ name_Inventor }}
            {% endif -%}
            {% if forloop.last != true -%}
              ,
            {% endif -%}
          {% endfor -%}
          &nbsp;
        {% else -%}
          {{row.Inventor}}&nbsp;      
        {% endif -%}
      </li>
{% endfor -%}
    </ul>            
          </div>    
        </section>
      </div>
      <div id="bnr_link">
        <div class="clearfix">
        </div>
      </div>
    </article>
<script>
   const documentsTest = [
  {% assign SAMURAI_patent_sort = site.data.SAMURAI_patent | sort: "FilingDate" | reverse -%}
  {% for row in SAMURAI_patent_sort -%}
    {'PublicationNo': '{{row.PublicationNo}}', 'Title': '{{row.Title}}', 'Inventor': '{{row.Inventor}}', 'Link': '{{row.Link}}', 'FilingDate': '{{row.FilingDate}}' },
  {% endfor -%}
  ];

const lunr = require(['assets/js/lunr/lunr.js'])
require(['assets/js/lunr-languages/lunr.stemmer.support.js'])(lunr)
require(['assets/js/lunr-languages/tinyseg.js'])(lunr)
require(['assets/js/lunr-languages/lunr.ja.js'])(lunr)

const documents = [{
    title: "吾輩は猫である",
    text: "吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。"
  },{
    title: "学問のすゝめ",
    text: "「天は人の上に人を造らず人の下に人を造らず」と言えり。されば天より人を生ずるには、万人は万人みな同じ位にして、生まれながら貴賤上下の差別なく、万物の霊たる身と心との働きをもって天地の間にあるよろずの物を資り、もって衣食住の用を達し、自由自在、互いに人の妨げをなさずしておのおの安楽にこの世を渡らしめ給うの趣意なり。"
  },{
    title: "蜘蛛の糸",
    text: "ある日の事でございます。御釈迦様は極楽の蓮池のふちを、独りでぶらぶら御歩きになっていらっしゃいました。池の中に咲いている蓮の花は、みんな玉のようにまっ白で、そのまん中にある金色の蕊からは、何とも云えない好い匂が、絶間なくあたりへ溢れて居ります。極楽は丁度朝なのでございましょう。"
}]

const idx = lunr(function () {
  this.ref('title')
  this.field('text')
  this.use(lunr.ja)

  documents.forEach(function (doc) {
    this.add(doc)
  }, this)
})

console.log(idx.search('人'))

</script>
