---
layout: default
title: 特許の一覧
---
<title>元素戦略磁性材料研究拠点業績総覧 | 特許の一覧</title>

<article class="wrap search_prof search_article">
<div class="main_frame clearfix">
<section class="contents articles">
<h2 class="pagetitle">{{ page.title }}</h2>
<p class="txt text-right">最終更新時刻: 2023年03月31日</p>
<div class="paper_list">
<div id="search_keyword">
<div class="search_block row">
<input type="search" name="q" id="search_word" value="" class="col-md-10 txt_input txt_result" placeholder="">
<input type="submit" name="commit" value="検索する" class="btn" data-disable-with="検索する">
</div>
</div>
<h2 class="result-summary" style="display: none;"></h2>
{% assign year = 0 -%}
{% assign SAMURAI_patent_sort = site.data.SAMURAI_patent | sort: "FilingDate" | reverse -%}
{%- for row in SAMURAI_patent_sort -%}
  {% assign rowYear = row.FilingDate | slice: 0, 4 -%}
  {%- if year != rowYear -%}
    {%- if forloop.first != true -%}
      </ul>
      </div>
    {%- endif -%}
    <div class="filterBlock">
    <h3 class="year-subject">{{rowYear}}</h3>
    <ul class="list">
    {% assign year = rowYear -%}
  {%- endif -%}
      <li data-rowno="{{row.No}}">
        {%- if row.PublicationNo contains "特開" -%}
          <a href="https://patents.google.com/patent/JP{{row.PublicationNo | slice: 2,4}}{{row.PublicationNo | slice: 7,6}}" target="_blank">
        {%- else -%}
          <a href="https://patents.google.com/patent/JP{{row.PublicationNo | slice: 0,6}}{{row.PublicationNo | slice: 7,6}}" target="_blank">
        {%- endif %}
        {{row.PublicationNo}}</a>&nbsp;
        {{row.Title}}&nbsp;
        {%- if row.Link -%}
          {% assign InventorArray = row.Inventor | split: ","-%}
          {% assign LinkArray = row.Link | split: ","-%}
          {%- for name_Inventor in InventorArray -%}
            {% assign name_Inventor_str = name_Inventor | strip -%}
            {% assign linkFlag = false -%}
            {%- for name_Link in LinkArray -%}
              {%- assign name_Link_str = name_Link_str | strip -%}
              {%- if name_Link_str == name_Inventor_str -%}
                {% assign linkFlag = true -%}
                <a href="{{ LinkArray[forloop.index] }}" target="_blank">{{ name_Inventor }}</a>
              {%- endif -%}
            {%- endfor -%}
            {%- if linkFlag != true -%}
              {{ name_Inventor }}
            {%- endif -%}
            {%- if forloop.last != true -%}
              ,
            {%- endif -%}
          {%- endfor -%}
          &nbsp;
        {%- else -%}
          {{row.Inventor}}&nbsp;      
        {%- endif -%}
      </li>
{%- endfor -%}
</ul>
</div>
</div>    
</section>
</div>
<div id="bnr_link">
<div class="clearfix">
</div>
</div>
</article>
<script>
$(function () {
const documents = [
{% assign SAMURAI_patent_sort = site.data.SAMURAI_patent | sort: "FilingDate" | reverse -%}
{% for row in SAMURAI_patent_sort -%}
{ 'No': '{{ row.No }}', 'Title': '{{ row.Title | escape }}', 'Name': '{{ row.Inventor | escape }}' },
{% endfor -%}
];
{% include lunr.html %}
      $('h2.result-summary').text(results.length + "件の特許が見つかりました。 特許は出願年月日順に表示しています。");
      $('h2.result-summary').show();
    });
  });
</script>
