---
layout: default
title: 特許の一覧
---
    <article class="wrap search_prof search_article">
      <div class="main_frame clearfix">
        <section class="contents articles">
          <h2 class="pagetitle">{{ page.title }}</h2>
          <p class="txt text-right">最終更新時刻: 2023年03月31日</p>
          <div class="paper_list">
            <div id="search_keyword">
              <div class="search_block row">
                <input type="search" name="q" id="search_word" value="" class="col-md-10 txt_input txt_result" placeholder="">
                <input type="submit" name="commit" value="検索する" class="btn" data-disable-with="検索する">
              </div>
            </div>
{% assign year = 0 -%}
{% assign SAMURAI_patent_sort = site.data.SAMURAI_patent | sort: "FilingDate" | reverse -%}
{% for row in SAMURAI_patent_sort -%}
  {% assign rowYear = row.FilingDate | slice: 0, 4 -%}
  {% if year != rowYear -%}
    {% if forloop.first != true -%}
      </ul>
      </div>
    {% endif -%}
    <div class="filterBlock">
    <h3 class="year-subject">{{rowYear}}</h3>
    <ul class="list">
    {% assign year = rowYear -%}
  {% endif -%}
      <li data-rowno="{{row.No}}">
        {% if row.PublicationNo contains "特開" -%}
          <a href="https://patents.google.com/patent/JP{{row.PublicationNo | slice: 2,4}}{{row.PublicationNo | slice: 7,6}}" target="_blank">
        {% else -%}
          <a href="https://patents.google.com/patent/JP{{row.PublicationNo | slice: 0,6}}{{row.PublicationNo | slice: 7,6}}" target="_blank">
        {% endif -%}
        {{row.PublicationNo}}</a>&nbsp;
        {{row.Title}}&nbsp;
        {% if row.Link -%}
          {% assign InventorArray = row.Inventor | split: ","-%}
          {% assign LinkArray = row.Link | split: ","-%}
          {% for name_Inventor in InventorArray -%}
            {% assign linkFlag = false -%}
            {% for name_Link in LinkArray -%}
              {% if name_Link == name_Inventor -%}
                {% assign linkFlag = true -%}
                <a href="{{ LinkArray[forloop.index] }}" target="_blank">{{ name_Inventor }}</a>
              {% endif -%}
            {% endfor -%}
            {% if linkFlag != true -%}
              {{ name_Inventor }}
            {% endif -%}
            {% if forloop.last != true -%}
              ,
            {% endif -%}
          {% endfor -%}
          &nbsp;
        {% else -%}
          {{row.Inventor}}&nbsp;      
        {% endif -%}
      </li>
{% endfor -%}
    </ul>
            </div>
          </div>    
        </section>
      </div>
      <div id="bnr_link">
        <div class="clearfix">
        </div>
      </div>
    </article>
<script>
  $(function () {
    const documents = [
      {% assign SAMURAI_patent_sort = site.data.SAMURAI_patent | sort: "FilingDate" | reverse -%}
      {% for row in SAMURAI_patent_sort -%}
      { 'No': '{{ row.No }}', 'PublicationNo': '{{ row.PublicationNo }}', 'Title': '{{ row.Title }}', 'Inventor': '{{ row.Inventor }}', 'Link': '{{ row.Link }}', 'FilingDate': '{{ row.FilingDate }}' },
      {% endfor -%}
    ];

    require(['assets/js/lunr-languages/test/lunr/lunr-0.7.0.min.js', 'assets/js/lunr-languages/lunr.stemmer.support.js', 'assets/js/lunr-languages/tinyseg.js', 'assets/js/lunr-languages/lunr.ja.js'], function (lunr, stemmerSupport, TinySegmenter, ja) {
      // since the `stemmerSupport` and `ja` add keys on the lunr object, we'll pass it as reference to them
      // in the end, we will only need `lunr`.
      stemmerSupport(lunr); // adds `lunr.stemmerSupport`
      TinySegmenter(lunr);
      ja(lunr); // adds `lunr.ja` key
      // at this point, `lunr` can be used
      idx = lunr(function () {
        // use the language (ja)
        this.use(lunr.ja);
        // then, the normal lunr index initialization
        this.ref('No')
        this.field('PublicationNo')
        this.field('Title')
        this.field('Inventor')
        /* add documents to index */
        documents.forEach(function (doc) {
          this.add(doc);
        }, this);
      });
    });

    $(".btn").on('click', function() {
      console.log('click');
      console.log($('#search_word').val());
    })
  });

  function filterExec() {
    $("div.filterBlock").hide();
    $("ul.list li").hide();
    const results = idx.search('高橋'); //検索ワード
    results.forEach(function (row) {
      $("[data-rowno=" + row["ref"] + "]").show();
      $("[data-rowno=" + row["ref"] + "]").parents(":hidden").show();
    });
  };
</script>
