<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
 </head>
 <body>
  <header class="header clearfix" id="pagetop">
    <section class="site_title">
      <h1 class="logo">
        <a href="/">
          <img alt="" src="img/top.png" class="mark"/>
          <span class="unitname">
              <img alt="SAMURAI" src="img/samurai_name.svg" class="samurai"/>
              <span class="name">元素戦略磁性材料研究拠点 | Elements Strategy Initiative Center for Magnetic Materials</span>
          </span>
        </a>
      </h1>
    </section>
    <nav class="header_navi">
      <ul class="clearfix" id="header_pane">
        <li class="header_sp_menu">
          <span class="off">&#xf394;</span>
          <span class="on">&#xf129;</span>
        </li>
      </ul>
    </nav>
    <ul class="unit-logo">
        <li><a href="https://www.nims.go.jp/ESICMM/" target="_blank"><img src="img/ESICMM.png" alt=""></a></li>
        <li><a href="https://www.nims.go.jp/" target="_blank"><img src="img/nims_logo.png" alt="NIMS"></a></li>
    </ul>
  </header>
    <nav class="global_navi">
      <ul class="clearfix">
        <li class="global_album">
          <a title="元素戦略磁性材料研究拠点 | Elements Strategy Initiative Center for Magnetic Materialsの論文の一覧です。" href="list/paper">論文一覧</a>
        </li>
        <li class="global_howto">
          <a title="元素戦略磁性材料研究拠点 | Elements Strategy Initiative Center for Magnetic Materialsの特許の一覧です。" href="list/patent">特許一覧</a>
        </li>
        <li class="global_samurai">
          <a title="当サイトの説明です。" href="https://samurai-genso.escidoc.jp/about">当サイトについて</a>
        </li>
      </ul>
    </nav>
 {{ content }}
  <footer class="footer">
    <nav>
      <div class="foot_navi">
        <ul class="clearfix">
          <li class="contact">SAMURAIへのお問い合わせは、<a href="mailto:samurai-genso@ml.nims.go.jp">samurai-genso@ml.nims.go.jp</a>までお願いいたします。</li>
        </ul>
      </div>
    </nav>
    <div class="footer_copyright">Copyright &copy; 2001-2021 
      <a href="//www.nims.go.jp">National Institute for Materials Science (NIMS)
      </a>
      <br />国立研究開発法人物質・材料研究機構 〒305-0047 茨城県つくば市千現1-2-1
      <br />TEL. 029-859-2000 (代表) 
      <a href="//www.nims.go.jp/siteinfo/contact.html">（お問い合わせ先一覧）
      </a>
    </div>
  </footer>
 </body>
</html>
